<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="FirstRun" value="true"/>
    <add key="HttpHash"/>
    <add key="HttpsHash"/>
    <add key="InsoCookie"/>
    <add key="BloodcatCookie"/>
  </appSettings>
</configuration>